<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block title %}
<title>Contact Us</title>
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <h2 style="text-align: center;">Contact Us</h2>
        <br>
        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Your Name</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="phonee" class="form-label">Your Phone Number</label>
                <input type="number" class="form-control" id="phone">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Your Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            
            <div class="mb-3">
              <label for="message" class="form-label">Message</label>
              <input type="text" class="form-control" id="message">
            </div>            
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

    </div>

{% endblock %}

</html>