<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block title %}
<title>Dashboard</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 style="text-align: center;">Dashboard</h1>

        <div class="row">
            <br>
            <h3 style="text-align: center;">Today's Profit:<strong style="color: blue;"> Ksh {{tprofit}}</strong> ||| Today's Expenses: <strong style="color: red;">Ksh {{texpenses}}</strong></h3>
            <h3 style="text-align: center;">Today's Net Profit: <strong style="color: green;"> Ksh {{todaynetprofit}}</strong></h3>
            <br>
            <div class="col-12">
                <br>
                <canvas id="bar-chart" width="800" height="450"></canvas>
            </div>
        </div>
        <div class="row">
            <br>
            <canvas id="pie-chart" width="800" height="450"></canvas>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
                labels: {{ x | tojson }},
            datasets: [
            {
                label: "Total Sales(Ksh)",
                backgroundColor: "#3e95cd",
                data: {{ y | tojson }}
                    }
        ]
            },
            options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Sales Per Product'
            }
        }
        });
    </script>
    <script>
        new Chart(document.getElementById("pie-chart"), {
            type: 'pie',
            data: {
                labels: {{ a | tojson }},
            datasets: [{
                label: "Population (millions)",
                backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                data: {{ b | tojson }}
                }]
            },
            options: {
            title: {
                display: true,
                text: 'Profit Per Product'
            }
        }
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>$(document).ready(function () {
            $('#salesTable').DataTable();
        });</script>

    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

{% endblock %}

</html>